button.relative {
  position: fixed;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  padding: 20px 25px;
  margin: 5px;
  font-size: 23px;
  background-color: #4CAF50;
}

button.relative:hover {
  background-color: #008000;
  transform: rotate(360deg);
  transition: 1s;
}

button.bigButton {
  padding: 20px 25px;
  margin: 5px;
  font-size: 23px;
  background-color: #4CAF50;
  border-radius: 100px 0px 100px 0px
}

button.bigButton:hover {
  transform:scale(4)translateX(105px);
  background-color: #008000;
  transition: 5s;
}

div.sticky{
  border: 1px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  background-color: powderblue;
  border-radius: 100px;
  background-color: #f44336;
  border-color: #f44336;
}

.One td, th {
  border: 1px solid black;
  width: 33%
}

.two td, th {
  border: 1px solid black;
  width: 0%
}

#LargeBevel p{
    border: 20px solid black;
    margin: 0px
}

.button {
  margin: 0px 10%;
  border-radius:5px;
  border-color: black;
  border-width: 3px;
  cursor: wait;
}

.blinker{
  animation: blinkingText 1s linear infinite;
}

@keyframes blinkingText{
 0% {
  opacity: 0;
 }
 50% {
   opacity: .5;
 }
 100% {
   opacity: 1;
  }}

 div#menu a{
   background-color: #f44336;
   color: white;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
 }
 div#menu a:hover{
   background-color: #ff9999;
   color: white;
 }
